<div>
    <div class="container-fluid navbar-default">
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-group"></ul><footer class="foot">
                    Copyright &copy; 2016
 All Rights Reserved.
                </footer>
            </div>
        </div>


    </div>
</div>