<div class="container-fluid">
    <div class="row">
        
        <div class="col-sm-3" style="margin-top:30px;">
            <ul class="list-group">

                <a href="" class="btn btn-danger btn-sm btn-block"><h5> Home</h5></a>
                <a href="" class="btn btn-danger btn-sm btn-block"><h5> About us</h5></a>
                <a href="" class="btn btn-danger btn-sm btn-block"><h5> Contacts</h5></a>
                <a href="" class="btn btn-danger btn-sm btn-block"><h5> Search</h5></a>
                <a href="" class="btn btn-danger btn-sm btn-block"><h5> FeedBack</h5></a>
                <a href="" class="btn btn-danger btn-sm btn-block"><h5> Edit Account</h5></a>
        </div>

        <div class="col-sm-6" style="margin-top:30px;">
            <div class="panel panel-danger" margin-right:"10px";>
                <div class=" panel-heading">
                About Us    
                </div>
                <div class="panel-body ">
                    <p>
                        Have you at any time witnessed a relative of yours or a close friend searching frantically for a blood donor, when blood banks say out of stock, the donors in mind are out of reach and the time keeps ticking? Have you witnessed loss of life for the only reason that a donor was not available at the most needed hour? Is it something that we as a society can do nothing to prevent? This thought laid our foundation.
                        Our mission is to fulfill every blood request in the city with a promising web portal and motivated individuals who are willing to donate blood.
                    </p>
                    <p>
                        Our vision is to be “The hope of every person in search of a voluntary blood donor”
                    </p>
                    <p>
                        Our motto - “Donate blood to save the most precious human life”
                    </p>
                    <p>
                        The Online Blood Donation management System is to create an e-Information about the donor and organization that are related to donating the blood. Through this application any person who is interested in donating the blood can register himself in the same way if any organization wants to register itself with this site that can also register. Moreover if any general consumer wants to make request blood online he can also take the help of this site. Admin is the main authority who can do addition, deletion, and modification if required.
                    </p>
                    <p>
                        Online Blood Donation management System project is aimed to developing an online Blood Donation Information. The entire Online Blood Donation management System project has been developed keeping in view of the distributed client server computing technology, in mind. The Blood Donation Agent is to create an e-Information about the donor and organization that are related to donating the blood. Through this Online Blood Donation management System application any person who is interested in donating the blood can register himself in the same way if any organization wants to register itself with this site that can also register. Moreover if any general consumer wants to make request blood online he can also take the help of this site. Admin is the main authority who can do addition, deletion, and modification if required.

                    </p>
                    
                 </div>

            </div>


            
                       
        </div>
        <div class="col-sm-3"style="margin-top:32px; padding-left:0px;">
            <div>
                <img src="~/Images/12.jpg" class="img-responsive img-thumbnail" style="width:500px; height:225px; ">
            </div>
            
            <div style="margin-top:15px;">
                <img src="~/Images/16.JPG" class="img-responsive img-thumbnail" style="width:500px; height:225px; ">
            </div>
        </div>

  </div>

</div>