<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3" style="margin-top:30px;">

            <ul class="list-group">

                <a href="" class="btn btn-danger btn-sm btn-block"><h5> Home</h5></a>
                <a href="" class="btn btn-danger btn-sm btn-block"><h5> About us</h5></a>
                <a href="" class="btn btn-danger btn-sm btn-block"><h5> Contacts</h5></a>
                <a href="" class="btn btn-danger btn-sm btn-block"><h5> Search</h5></a>
                <a href="" class="btn btn-danger btn-sm btn-block"><h5> FeedBack</h5></a>
                <a href="" class="btn btn-danger btn-sm btn-block"><h5> Edit Account</h5></a>

        </div>

        <div class="col-sm-6" style="margin-top:30px; padding-left:80px;">
            <div class="bground" id="page">
                <div class="center-div">
                    <img src="~/Images/2.png" class=" img-responsive" style="width:500px;;height:325px;">
                </div>

            </div>

        </div>
        <div class="col-sm-3" style="margin-top:20px;">
            <div class="panel panel-danger" margin-right:"10px";>
                   <div class=" panel-heading">
                    News
                   </div>
                <div class="panel-body ">
                    <p><img src="~/Images/7.jpg" class="img-responsive img-thumbnail " width="100" align="left" />Adult blood volume is 5 to 6 Liters. Blood is a red coloured fluid that contains continuously renewing cells like red blood cells which renew every 4 months, platelets that renew every week and also </p>
                    <img src="~/Images/44.jpg" class="img-responsive img-circle " style="width:100px;" style="margin-top:20px;">
                </div>

            </div>


        </div>


    </div>

    <div class="row">
        <div class="col-sm-4">
            <h3>Donate Blood</h3>

            If you donate blood ,you
            can help in saving lives
            of many patients .
            Thousands of patients need blood transfusion as in

            the following conditions :-
            Patients suffering from haemorrhage due to casualities , surgical procedures and labours. Haemophilic patients , Chronic Anaemia, Malignancy Thalassemic patients, Bone Marrow transplantation, Neonatal jaundice...More...
        </div>

        <div class="col-sm-4">
            <h3>Fact About Blood</h3>
            <p>

                Adult blood volume is 5 to 6 Liters.

                Blood is a red coloured fluid that contains continuously renewing cells like red blood cells which renew every 4 months,
                platelets that renew every week and also white blood cells.

                The cells are swimming in the liquid part of the blood , the plasma.
                The blood carries oxygen by RBCs from the lungs into the tissues to generate energy.
                It carries out carbon dioxide to be expired through the lungs.
            </p>
        </div>
        <div class="col-sm-4">
            <h3>Computer System</h3>
            <p>
                Safety in blood transfusion
                is a comprehensive issue,
                it includes a chain of
                transactions starting from
                donor recruitment up to the
                preparation of safe effective blood products
                and safe transfusion to the patients.
                Registration, documentation, positive
                identification as well as all relevant
                transactions are major issues in blood
                safety.
            </p>
        </div>
    </div>
